.movie {
    width: 75%;
    color: white;
 }
  
 .title-year {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
  
 .title, .year {
    font-weight: bold;
 }
  
 .poster {
    border-radius: 5%;
 }